@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
   margin: 0 auto;
   padding: 2.5rem;
   font-size: 15px;
   background-image: url('images/bg-pattern-top-desktop.svg');
   max-width:  80%;
   max-height: 90%;
}



.card1{
    display: flex;
    flex-wrap: wrap;
    
    
}

.text{
    
    text-align: left;
    width: 40%;
    color:hsl(300, 43%, 22%);
    
}
.text1{
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    line-height: 1.7rem;
}

.text2{
    padding-top: 1rem;
    line-height: 130%;
}

.avaliação{
width: 60%;    
display: flex;
align-content: flex-end;
justify-content: flex-end;
margin-top: 1.5rem;

}
.avaliação img{
    width: 16px ;
    background-size: 100px 100%;
    padding-right: 0.4rem;
}

.avaliação ul{
    list-style-type: none
}
.avaliação li{
    padding-left: 3rem;
}

.avaliação p{
    font-family: "League Spartan", sans-serif;
    color:hsl(300, 43%, 22%);
    line-height: 130%;
}
.av1{
    background-color: var(--Light-Grayish-Magenta) ;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color:#f7f2f8;
    margin-bottom: 20px ;
    padding: 15px;
    border-radius: 10px;
    width: 310px; 
    height: 16px;
    margin-right: 8rem;
}

.av2{
    background-color: var(--Light-Grayish-Magenta) ;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color:#f7f2f8;
    margin-bottom: 20px ;
    padding: 15px;
    border-radius: 10px;
    width: 310px; 
    height: 16px;
    margin-left: 4rem;
    margin-right: 4rem;
}

.av3{
    background-color: var(--Light-Grayish-Magenta) ;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color:#f7f2f8;
    margin-bottom: 20px ;
    padding: 15px;
    border-radius: 10px;
    width: 310px; 
    height: 16px;
    margin-left: 8rem;
}

.img-av{
    padding-right: 1rem;
}


.card2{
  display: flex;
  padding-top: 3rem;
}
.item1{
    margin: 25px 25px 10px 0px;
    background-color: hsl(300, 43%, 22%);
    color:hsl(0, 0%, 100%) ;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    line-height: 130%;
    width: 80%; 
    height: 80%;
}
.cabeçalho1{
    display: flex;
}
.cabeçalho1 img{
    
    border-radius: 50%;
}
.text-cabeçalho1{
    padding-left: 1rem;
    margin-top: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.item1 P{
    padding-top: 2rem;
}

.item2{
    margin: 40px 25px 20px;
    background-color: hsl(300, 43%, 22%);
    color:hsl(0, 0%, 100%) ;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    line-height: 130%;
    width: 80%; 
    height: 80%;
}


.cabeçalho2{
    display: flex;
}
.cabeçalho2 img{
    
    border-radius: 50%;
}
.text-cabeçalho2{
    padding-left: 1rem;
    margin-top: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.item2 P{
    padding-top: 2rem;
}

.item3{
    margin: 60px 0 3px 50px;
    background-color: hsl(300, 43%, 22%);
    color:hsl(0, 0%, 100%) ;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    line-height: 130%;
    width: 80%; 
    height: 80%;
}
.cabeçalho3{
    display: flex;
}
.cabeçalho3 img{
    
    border-radius: 50%;
}
.text-cabeçalho3{
    padding-left: 1rem;
    margin-top: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.item3 P{
    padding-top: 2rem;
}