@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "League Spartan", sans-serif;
}

.principal{
   margin: 0 auto;
   padding: 10rem;
   font-size: 15px;
   background-image: url('images/bg-pattern-top-desktop.svg');
   max-width:  60%;
   max-height: 80%;
   
}

.card1{
    display: flex;
    flex-wrap: wrap;
    max-height: 80%;
    
}

.text{
    
    text-align: left;
    width: 40%;
    color:hsl(300, 43%, 22%);
    
}
.text1{
    font-family: "League Spartan", sans-serif;
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    line-height: 2.5rem;
    
}

.text2{
    padding-top: 1rem;
    line-height: 130%;
}

.avaliação{
width: 60%;    
display: flex;
align-content: flex-end;
justify-content: flex-end;
margin-top: 1.5rem;

}
.avaliação img{
    width: 16px ;
    background-size: 100px 100%;
    padding-right: 0.4rem;
}

.avaliação ul{
    list-style-type: none
}
.avaliação li{
    padding-left: 3rem;
}

.avaliação p{
    font-family: "League Spartan", sans-serif;
    color:hsl(300, 43%, 22%);
    line-height: 130%;
}
.av1{
    background-color: var(--Light-Grayish-Magenta) ;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color:#f7f2f8;
    margin-bottom: 20px ;
    padding: 15px;
    border-radius: 10px;
    width: 310px; 
    height: 16px;
    margin-right: 8rem;
}

.av2{
    background-color: var(--Light-Grayish-Magenta) ;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color:#f7f2f8;
    margin-bottom: 20px ;
    padding: 15px;
    border-radius: 10px;
    width: 310px; 
    height: 16px;
    margin-left: 4rem;
    margin-right: 4rem;
}

.av3{
    background-color: var(--Light-Grayish-Magenta) ;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color:#f7f2f8;
    margin-bottom: 20px ;
    padding: 15px;
    border-radius: 10px;
    width: 310px; 
    height: 16px;
    margin-left: 8rem;
}

.img-av{
    padding-right: 1rem;
}


.card2{
  display: flex;
  padding-top: 2rem;
  gap: 1rem;
}

.subtitle{
    color: hsl(333, 80%, 67%);
}

.item1{
    transform: translatey(0);
    background-color: hsl(300, 43%, 22%);
    color:hsl(0, 0%, 100%) ;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    line-height: 1rem;
    max-width: 17rem; 
    max-height: 9rem;
}
.cabeçalho1{
    display: flex;
}
.cabeçalho1 img{
    
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}
.text-cabeçalho1{
    padding-left: 0.5rem;
    margin-top: 0.5rem;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
    
}

.item1 P{
    padding-top: 1rem;
    margin: 0 auto;
    width: 100%;
    text-align: justify;
    font-size: small;
}

.item2{
    transform: translatey(20px);
    background-color: hsl(300, 43%, 22%);
    color:hsl(0, 0%, 100%) ;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    line-height: 1rem;
    max-width: 17rem; 
    max-height: 9rem;
}

.cabeçalho2{
    display: flex;
}
.cabeçalho2 img{
    
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}
.text-cabeçalho2{
    padding-left: 0.5rem;
    margin-top: 0.5rem;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
    
}

.item2 P{
    padding-top: 1rem;
    margin: 0 auto;
    width: 100%;
    text-align: justify;
    font-size: small;
}

.item3{
    transform: translatey(40px);
    background-color: hsl(300, 43%, 22%);
    color:hsl(0, 0%, 100%) ;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    line-height: 1rem;
    max-width: 17rem; 
    max-height: 9rem;
}
.cabeçalho3{
    display: flex;
}
.cabeçalho3 img{
    
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}
.text-cabeçalho3{
    padding-left: 0.5rem;
    margin-top: 0.5rem;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.item3 P{
    padding-top: 1rem;
    margin: 0 auto;
    width: 100%;
    text-align: justify;
    font-size: small;
}

.attribution a{
    text-decoration:dashed;

}